* {
    box-sizing: border-box;
}

body {
    background-color: #BEC5C2;
    color: #303633;
}

img {
    size: 100%;
}

/* Flexbox element controls */

.main-container {
    display: flex;
    flex-flow: column wrap;
    background-color: #ffffff;
}

.head-container{
    display: flex;
    background-color: #303633;
    color: #FFFFFF;
    flex-flow: row wrap;
}

.name-box {
    flex-grow: 1;
    flex: 1;
    padding: 0 0 0 2%;
}

.container {
    display: flex;
    flex-flow: column wrap;
}

.main-img {
    flex: 1;
    width: 100%;
}
.main-img, img {
    border-radius: 50%;
}

.portrait {
    width: 40%;
}

.traits-box {
    flex: 1;
    margin: 0 2% 0 2%;
}

/* Flexbox element controls with Media Queries */

@media all and (min-width: 800px) {
    body {
        justify-content: center;
    }
    .head-container {
        width: 65%;
    }
    .main-container {
        width: 65%
    }
    .container {
        flex-flow: row wrap;
    }
}