* {
    box-sizing: border-box;
}

#page-wrap {
    width: 920px;
    margin-right: auto;
    margin-left: auto;
}

body {
    background-color: #BEC5C2;
    color: #303633;
}

img {
    size: 100%;
}

/* Flexbox element controls */

.main-container {
    display: flex;
    flex-flow: column wrap;
    background-color: #ffffff;
}


.container {
    display: flex;
    flex-flow: column wrap;
}

.head-container{
    display: flex;
    background-color: #303633;
    color: #FFFFFF;
    flex-flow: row wrap;
}

.name-box {
    flex-grow: 1;
    flex: 1;
    padding: 0 0 0 2%;
}

.main-img {
    justify-self: flex-start;
    align-self: center;
}

.main-img, img {
    border-radius: 50%;
    justify-content: center;
    max-width: 350px;
}

.personal {
    justify-self: flex-start;
    margin: 0 2% 0 2%;
}

.traits-box {
    flex: 1;
    margin: 0 2% 0 2%;
}

.contact {
    margin: 0 10% 0 10%;
}

/* Flexbox element controls with Media Queries */

@media all and (min-width: 800px) {
    .head-container {
        width: 65%;
        margin: auto;
    }
    .container {
        flex-flow: row wrap;
        margin: auto;
    }
    .main-img {
        justify-self: flex-start;
        align-self: center;
        margin: auto;
    }
    .main-img, img {
        max-width: 400px;
    }
    .main-container {
        width: 65%;
        margin: auto;
    }

}