* {
    box-sizing: border-box;
}

#page-wrap {
    margin-right: auto;
    margin-left: auto;
}

body {
    background-color: #BEC5C2;
    color: #303633;
}

img {
    width: 100%;
}

footer {
    background: #303633;
    color: #FFFFFF;
    width: 65%;
    max-width: 1024px;
    text-align: center;
    margin: 0% auto;
    padding: 1px 0;
}

/* Flexbox element controls */

.main-container {
    display: flex;
    flex-flow: column wrap;
    background-color: #ffffff;
}

.container {
    display: flex;
    flex-flow: column wrap;
}

.head-container{
    display: flex;
    background-color: #303633;
    color: #FFFFFF;
    flex-flow: row wrap;
}

.name-box {
    flex-grow: 1;
    flex: 1;
    padding: 0 0 0 2%;
}

.main-img {
    justify-self: flex-start;
    align-self: center;
    margin: 5% 0 0 0;
}

.main-img, img {
    border-radius: 50%;
    justify-content: center;
    max-width: 350px;
}

.personal {
    justify-self: flex-start;
    margin: 0 2% 0 2%;
}
.personal, h3 {
    text-align: center;
}

.traits-container {
    display: flex;
    flex-flow: column wrap;
}

.projects-container {
    display: flex;
    flex-flow: column wrap;
}

.project {
    flex: 1;
    margin: 0 2% 0 2%;
}

.traits-box {
    flex: 1;
    margin: 0 2% 0 2%;
}

.contact {
    margin: 0 10% 0 10%;
}

/* Flexbox element controls with Media Queries */

@media all and (min-width: 800px) {
    #page-wrap {
        margin-right: auto;
        margin-left: auto;
        max-width: 1024px;
    }

    .head-container {
        width: 65%;
        margin: auto;
    }
    .container {
        flex-flow: row wrap;
        margin: auto;
    }
    .main-img {
        justify-self: flex-start;
        align-self: center;
        margin: 2% auto;
    }
    .traits-container {
        display: flex;
        flex-flow: row wrap;
    }
    .main-img, img {
        max-width: 400px;
    }
    .main-container {
        width: 65%;
        margin: auto;
    }
    .projects-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    .project {
        min-width: 300px;
        width: 50%;
        padding: 0% 2% 50% 0%;
        margin: 0% 2% -50% 2%;
        position: relative;
    }

}